h1 {
	text-align: center;
}

body {
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 43%, rgba(253,85,44,1) 66%);
}

img {
	width: 300px;
}

#about, #projects, #grades, #playlist {
	padding: 10px;
}

.display-5 {
	background-color: rgba(255,255,255, 0.2);
}

#cards {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
}

.card {
	color: white;
	background-color: rgba(0,0,0, 0.5);
}

