.light-blue {
    color: #66C4FF;
}

.medium-blue {
    color: #3388FF;
}

.dark_blue {
    color: #1557FF;
}

.deep-blue {
    color: #10162F;
}

.light-deep-blue {
    color: #1D2340;
}

.navy-blue {
    color: #0A0D1C;
}

.yellow {
    color: #FFD300;
}

.beige {
    color: #FFF0E5;
}

.white {
    color: #F3F3F5;
}

.pale-white {
    color: #DBDCE0;
}

.green {
    color: #8de07c;
}

.blue {
    color: #6b9eb0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #10162F;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F3F3F5;
    background-color: #0A0D1C;
    padding: 16px;
    border-bottom: 1px solid #F3F3F5;
    z-index: 5;
}

h1 {
    font-size: 20px;
}

h1:hover {
    cursor: pointer;
}

h2 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6b9eb0;
    color: #6b9eb0;
}

h3 {
    font-size: 18px;
    padding-top: 30px;
    /* padding-left: 30px; */
    padding-bottom: 20px;
}

.dropdown {
    color: #8d9db6;
}

.mxgraph {
    max-width:90%;
    border:1px solid transparent; 
    /* margin: 30px; */
}

h4 {
    font-size: 16px;
    /* padding-left: 30px; */
}

.spread {
    display: flex; 
    justify-content: space-between; 
    /* margin-right: 60px;  */
    align-items: center;
}

p {
    padding: 10px 0;
    font-size: 16px;
    line-height: 2em;
    word-spacing: 0.25em;
}

.last {
    padding-bottom: 30px;
}

li {
    display: inline;
    padding-right: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #F3F3F5;
    cursor: pointer;
}

a:hover {
    color: #FFD300;
}

span {
    font-size: 16px;
    padding-right: 0px;
}

video {
    /* margin-left: 30px; */
    width: 500px;
    margin-top: 10px;
    border-radius: 7px;
    border: solid #FFD300 1px;
}

.proj-pic {
    /* margin-left: 30px; */
    width: 500px;
    margin-top: 10px;
    border-radius: 7px;
    border: solid #FFD300 1px;
    transition: width 1s;
}

figcaption {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.icon {
    font-size: 30px;
}

.icon:hover {
    color: #FFD300;
}

.right {
    width: 250px;
    float: right;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 7px;
    border: solid #FFD300 1px;
}

#figures {
    /* display: inline-flex; */
    padding-top: 30px;
}

h6 {
    float: right;
}

main {
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
    color: #F3F3F5;
}

#left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* gap: 10px; */
    position: fixed;
    width: 35%;
    height: 100%;
    background-color: #1D2340;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}

#last-item {
    padding-right: 40px;
}

#sparsh-pic {
    border-radius: 50%;
    border: solid #FFD300 2px;
    width: 300px;
    height: 300px;
}

#resume {
    margin-top: 80px;
    height: 40px;
    width: 120px;
    background-color: #FFD300;
    border: 1px solid #FFD300;
    border-radius: 7px;
    transition: none;
    color: #0A0D1C;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

#resume:hover {
    background-color: #CCA900;
    border: 1px solid #CCA900;
    cursor: pointer;
}

.project-btn {
    height: 40px;
    width: 120px;
    background-color: transparent;
    border: 1px solid #FFD300;
    border-radius: 7px;
    transition: none;
    color: #FFD300;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.project-btn:hover {
    background-color: #CCA900;
    border: 1px solid #CCA900;
    color: #0A0D1C;
    cursor: pointer;
}

#fun-fact {
    position: absolute;
    align-self: center;
    margin-top: 560px;
}

.download {
    padding-left: 10px;
}

#resume {
    /* margin-left: 30px; */
    margin-top: 20px;
    padding: 10px;
}

#right {
    grid-column: 9 / span 11;
    padding: 20px 0;
    margin-top: 80px;
}

#middle {
    grid-column: 4 / span 14;
    padding: 20px 0;
    margin-top: 80px;
}

.contact {
    padding-right: 20px;
}

#more-info {
    width: 100%;
    position: absolute;
    display: none;
    top: 400px;
    color: black;
    background-color: #FFF0E5;
    opacity: 0.75;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

@media (max-width: 1026px) {
    h1 {
        margin: 0;
        padding: 0;
    }

    .spread {
        margin-right: 0;
    }

    .mxgraph {
        margin: 0px;
    }

    #left {
        visibility: collapse;
    }
    
    #right {
        margin-right: 0px;
        grid-column: 2 / span 18;
    }

    #middle {
        grid-column: 2 / span 18;
    }

    #fun-fact {
        align-self: center;
        margin-top: 370px;
    }

    #more-info {
        top: 250px;
    }

    p, h3, h4 {
        padding-left: 0;
        padding-right: 0;
    }

    .proj-pic {
        width: 300px;
        margin: 0;
    }

    video {
        width: 300px;
        margin: 0;
    }

    figcaption {
        padding-left: 0px;
    }

    header {
        height: 67px;
        padding-top: 0;
        padding-bottom: 0;
    }

    header ul {
        visibility: collapse;
    }

    #resume {
        margin-left: 0px;
    }
}

#wood-works-heading, #cafe-kiosk-heading, #image-partition-heading, #vibing-heading, #image-detector-heading, #note-maker-heading, #personal-budget-heading, #attr-table-heading, #modal-heading, #enable-heading, #refactor-heading {
    cursor: pointer;
}

#wood-works-heading:hover, #cafe-kiosk-heading:hover, #image-partition-heading:hover, #vibing-heading:hover, #image-detector-heading:hover, #note-maker-heading:hover, #personal-budget-heading:hover, #attr-table-heading:hover, #modal-heading:hover, #enable-heading:hover, #refactor-heading:hover  {
    color: #FFD300;
}

#wood-works-content, #cafe-kiosk-content, #image-partition-content, #vibing-content, #image-detector-content, #note-maker-content, #personal-budget-content, #attr-table-content, #modal-content, #enable-content, #refactor-content  {
    display: none;
}

.angle-icon {
    padding-left: 16px;
}

#exp {
    padding-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding-left: 8px;
    border: 3px solid #10162F;
}

td {
    background-color: #1D2340;
    word-spacing: 0.5em;
    font-size: 16px;
}

th {
    background-color: #0A0D1C;
}

tr:hover td {
  background-color: #1d23408f;
}

tr:hover th {
    background-color: #0a0d1c8f;
}
