.light-blue {
    color: #66C4FF;
}

.medium-blue {
    color: #3388FF;
}

.dark_blue {
    color: #1557FF;
}

.deep-blue {
    color: #10162F;
}

.light-deep-blue {
    color: #1D2340;
}

.navy-blue {
    color: #0A0D1C;
}

.yellow {
    color: #FFD300;
}

.beige {
    color: #FFF0E5;
}

.white {
    color: #F3F3F5;
}

.pale-white {
    color: #DBDCE0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #10162F;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F3F3F5;
    background-color: #0A0D1C;
    padding: 16px;
    border-bottom: 1px solid #F3F3F5;
    z-index: 5;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F3F3F5;
}

h3 {
    font-size: 18px;
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 20px;
}

h4 {
    font-size: 16px;
    padding-left: 60px;
}

p {
    padding: 30px 60px 0 60px;
    font-size: 16px;
    line-height: 1.5em;
    word-spacing: 0.25em;
}

.last {
    padding-bottom: 30px;
}

li {
    display: inline;
    padding-right: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #F3F3F5;
    cursor: pointer;
}

a:hover {
    color: #FFD300;
}

span {
    font-size: 18px;
    padding-right: 10px;
}

.proj-pic {
    margin-left: 60px;
    width: 250px;
    margin-top: 10px;
    border-radius: 7px;
    border: solid #FFD300 1px;
}

figcaption {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding-left: 60px;
    padding-top: 10px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.icon {
    font-size: 30px;
}

.icon:hover {
    color: #FFD300;
}

.right {
    width: 250px;
    float: right;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 7px;
    border: solid #FFD300 1px;
}

#figures {
    display: inline-flex;
    padding-top: 20px;
}

h6 {
    float: right;
}

main {
    display: grid;
    grid-template: repeat(5, 20%) / repeat(5, 20%);
    color: #F3F3F5;
}

#left {
    display: flex;
    position: fixed;
    width: 40%;
    height: 100%;
    background-color: #1D2340;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
}

#last-item {
    padding-right: 40px;
}

#sparsh-pic {
    height: 500px;
    margin-top: 110px;
    border-radius: 7px;
    border: solid #FFD300 1px;
}

button {
    margin-top: 80px;
    height: 40px;
    width: 120px;
    background-color: #FFD300;
    border: 1px solid #FFD300;
    border-radius: 7px;
    transition: none;
    color: #0A0D1C;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

button:hover {
    background-color: #CCA900;
    border: 1px solid #CCA900;
    cursor: pointer;
}

#fun-fact {
    position: absolute;
    top: 550px;
}

.download {
    padding-left: 10px;
}

#resume {
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px;
}

#right {
    grid-column: 3 / span 3;
    padding: 30px;
    margin-top: 80px;
}

.contact {
    padding-right: 20px;
}

#more-info {
    width: 100%;
    position: absolute;
    display: none;
    top: 400px;
    color: black;
    background-color: #FFF0E5;
    opacity: 0.75;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

@media (max-width: 1026px) {
    #left {
        width: 100%;
        height: 500px;
    }
    
    #right {
        margin-top: 500px;
        grid-column: 1 / span 5;
    }

    #sparsh-pic {
        width: 210px;
        height: 290px;
    }

    #fun-fact {
        top: 350px;
    }

    #more-info {
        top: 300px;
    }
}

#cafe-kiosk-heading, #image-partition-heading, #vibing-heading, #image-detector-heading, #note-maker-heading, #personal-budget-heading, #attr-table-heading, #modal-heading, #enable-heading, #refactor-heading {
    cursor: pointer;
}

#cafe-kiosk-heading:hover, #image-partition-heading:hover, #vibing-heading:hover, #image-detector-heading:hover, #note-maker-heading:hover, #personal-budget-heading:hover, #attr-table-heading:hover, #modal-heading:hover, #enable-heading:hover, #refactor-heading:hover  {
    color: #FFD300;
}

#cafe-kiosk-content, #image-partition-content, #vibing-content, #image-detector-content, #note-maker-content, #personal-budget-content, #attr-table-content, #modal-content, #enable-content, #refactor-content  {
    display: none;
}

.angle-icon {
    padding-left: 16px;
}

#exp {
    padding-top: 20px;
}