h1 {
	text-align: center;
}

body {
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 43%, rgba(253,85,44,1) 66%);
}

img {
	width: 300px;
}

#about, #projects, #grades {
	padding: 10px;
}