* {
	font-family: sans-serif;
}

html {
	height:  100%;
}

body {
	margin:  0px;
	padding:  0px;
	height:  100%;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 43%, rgba(253,85,44,1) 66%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	width: 100%;
	background-color: rgba(255,255,255, 0.35);
	height: 40px;
	opacity: 70%;
  	text-align: center;
  	padding-top: 10px;
}

h2, h3, p {
	padding-left: 10px;
	padding-bottom: 10px; 
}

img {
	width: 300px;
	top: 100px;
	border: 3px black solid;
	border-radius: 7px;
	transition: all 0.3s ease-in-out;
}

img:hover{
	transform: scale(1.1);
}

p {
	font-size: 20px;
}